<h1>LOGIN</h1>

<h3><%= flash[:notice] %></h3>

<%= form_tag "/login", method: :post do %>
  Email:<%= text_field_tag :email %>
  Password:<%= password_field_tag :password %>
  <input type='submit' value='login'>
<% end %>

<h4>Not a member? Sign up <%= link_to "here", new_user_path %></h4>
