<% if @favor.errors.any? %>
<ul>
  <% @favor.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for @favor do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <br>
  <%= f.text_area :description, placeholder: "Description" %>
  <br>
  <%= f.label :date %>
  <%= f.datetime_select :date %>
  <br>
  <%= f.submit %>
<% end %>
