<br>
<br>

<%= form_tag favors_path, method: :get do %>
  <%= text_field_tag(
      :search,
      params[:search],
      placeholder: "Search for Favrs",
  ) %>
  <%= submit_tag "Search" %>
<% end %>

<br>
<br>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <h2>Undone Favrs</h2>
      <ul>
        <% @unselected_favors.each do |unselected_favor| %>
        <li>
          <%= link_to unselected_favor.name, unselected_favor %>
        </li>
        <% end %>
      </ul>
    </div>

  <div class="col-md-auto"></div>

    <div class="col col-lg-4">
      <h2>Old Favrs</h2>
      <ul>
        <% @selected_favors.each do |favor|%>
          <li>
            <%= link_to favor.name, favor %> <br>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br>
<br>

<p><%= link_to "See your page", @user %></p>
