<ul>
  <% if @user_favor.errors.any? %>
    <% @user_favor.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  <% end %>
</ul>

<h4><%= flash[:notice] %></h4>

<h1><%= @user.first_name %> needs a favr</h1>

<h2><%= @favor.name %></h2>
<p><%= @favor.description %></p>
<p>Date and Time: <%= @favor.parsed_datetime %></p>
<!-- <p><%= link_to "See This User's Profile", @user %></p> -->

<% unless UserFavor.any? {|user_favor| user_favor.favor_id == @favor.id} %>
  <%= form_tag make_user_favor_path, method: :post do %>
    <%= hidden_field_tag 'requester_id', @user.id  %>
    <%= hidden_field_tag 'favor_id', @favor.id  %>
    <%= submit_tag 'Do This Favr' %>
  <% end %>
<% end %>
<!-- <%= link_to "Do This Favr", make_user_favor_path, method: :post %> -->


<br>
<% @favor.comments.each do |comment| %>
  <%= comment.user.first_name %> says "<%= comment.content %>"
<br>
<% end  %>
<br>
<%= form_tag post_comment_path, method: :post do %>
  <%= hidden_field_tag 'user_id', session[:logged_in_user]  %>
  <%= hidden_field_tag 'favor_id', @favor.id  %>
  <%= text_area_tag 'content' %>
  <%= submit_tag 'Post Comment' %>
<% end %>

<br>
<%= link_to "Back to Your Profile", current_user %>
<br>
<%= link_to "Back to All Favrs", favors_path %>
