<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%# f.label :first_name %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%# f.label :last_name %>
  <br>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <br>
  <br>
  <!-- <p></p> -->
  <%# f.label :email %>
  <%= f.text_field :email, placeholder: "Email" %>
  <br>
  <%# f.label :password %>
  <%= f.password_field :password, placeholder: "Password" %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
