<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %>'s Page</h1>

<p><%= link_to "Do someone a Favr", favors_path %></p>

<p><%= link_to "Ask for a Favr", new_favor_path %></p>

<h3>These are the Favrs that <%= @user.first_name %> has agreed to do:</h3>
<ul>
  <% @user.accepted_favors.each do |favor| %>
    <li>
      <%= link_to favor.name, favor %>
    </li>
  <% end %>
</ul>

<h3>These are the Favrs that <%= @user.first_name %> has requested:</h3>
<ul>
  <% @user.users_owed.each do |user| %>
  <%  %>
    <li>
      <%= link_to user.first_name, user %> did you a Favr, maybe do one in return
    </li>
  <% end %>
</ul>
<hr>
<h3><%= @user.first_name %>'s Favrability rating: <%= @user.average_rating %></h3>

<ul>
  <% @user.all_reviews_of_user.each do |review| %>
    <li>
      <%= link_to review.user.first_name, review.user %> says about <%= @user.first_name%>
      : "<%= review.content %>"  <br>
       Rating: <%= review.rating %>/5
    </li>
  <% end %>
</ul>

<% if @user.id == session[:logged_in_user] %>
  <p><%= link_to "Edit your profile", edit_user_path %></p>
<% end %>
