<p id="notice"><%= notice %></p>

<h1>Hello, <%= @user.first_name %></h1>

<p><%= link_to "Do someone a Favr", favors_path %></p>

<p><%= link_to "Ask for a Favr", new_favor_path %></p>

<h3>These are the Favrs that you have agreed to do:</h3>
<ul>
  <% @user.accepted_favors.each do |favor| %>
    <li>
      <%= link_to favor.name, favor %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Edit your profile", edit_user_path %></p>


<%= form_tag controller: "sessions", action: "destroy", method: "post" do %>
  <input type="submit" value="Log Out">
<% end %>
